/* Enter your custom styles here */

.sapMOHRTitle h1 {
    padding-top: 6px !important;
    font-size: 1.5rem;
}

.sapMOHRTitleIcon>.sapMOHRTitle {
    margin-left: 32rem !important;
}

.sapMTB-Transparent-CTX.sapMTB,
.sapMIBar.sapMTB-Info-CTX.sapMTB {
    background-color: #1a95d4;
    padding: 0 0.5rem 0 1rem;
}

.sapMOHRIcon {
    top: 1.075rem !important;
}
.sapMOHRIcon .sapMImg {
    max-height: 3rem;
    max-width: 9rem !important;
}
.sapMOHR {
    width: 100%;
    height: 100%;
    padding: 1.1rem 3rem 0.5rem 3rem;
    box-sizing: border-box;
}
.sapMPage>section {
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #a18e681f */
    background-image: url("/ffe4f26b-3602-4762-94c0-168a2b38e5a6.successorlist.successorlist-0.0.1/model/ashokleyland.jpg");
}
.sapMTitle {
    color:white !important;
}